<div class="container">
    
    
    <!--<div class="row">
        <label for="idPrograma">ID Programa</label>
        <input id="idPrograma" type="text" name="idPrograma" >

    </div>
-->
    
<!-- division-->
<div class="row">
<div class="col-12">
    <div>
        <div class="card">
            <div class="card-header">
                Capturar Aviso de Cobro
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="text" class="custom-text-input" id="avisoDeCobro">
                                
                            <label class="custom-text-label" for="input">id Programa</label>
                        </div>
                    </div>
                </form>
            </div>
            
            
            <div class="card-footer bg-white d-flex justify-content-end border-0">
               
               
                <!--<button (click)="accept()" [disabled]="!file.isSuccess" class="btn btn-primary mr-3">Aceptar</button>
            
            
                -->
            
            
            </div>
        </div>
    </div>
</div>


</div>
<!--division-->











    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Programa</th>
                        <th>Folio Formato</th>
                        <th>Becario</th>
                        <th>CCT Escuela</th>
                        <th>Remesa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of content">
                        <td>{{item.idPrograma}}</td>
                        <td>{{item.folioFormato}}</td>
                        <td>{{item.nombreBecario}}</td>
                        <td>{{item.cctEscuela}}</td>
                        <td>{{item.remesa}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>